body {
	box-sizing: border-box;
	background-color: #edf0f1;
	/* padding: 220px 0 0 0; */
}

body, input, button {
	font-family: 'Merriweather', serif;

}

.container__main{
	width: 60%;
	margin: 0 auto;
}

