.header__box {
	height: 50px;
	position: relative;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	&--text {
		float: left;
		display: inline-block;
		width: 30%;
		padding: 5px 0 0 15px;
	}
	@include styleVariable;
	&--add {
		@include centerIt;
		display: inline-block;
		font-family: $fnt-fam;
		text-transform: uppercase;
		font-size: $fnt-size-regular;
		font-weight: $fnt-weight-regular;
		background-color: $fnt-color-input;
		color:$fnt-color-form;
		width: 50%;
		height: 80%;
		border-radius: 25px;
		cursor: pointer;

	}
	&--style {
		float: right;
		padding: 5px 15px 0 0;
	}
}

.header__text {
	display: inline-block;
	padding: 0 10px 0 10px;
	font-family: $fnt-fam;
	text-transform: uppercase;
	font-size: $fnt-size-regular;
	color: $fnt-color-form;
	
	&--add {
	position: relative;
	transform: translateY(25%);
	text-align: center;
	height: 100%;
	vertical-align: base;
	}
}

.fa-angle-right{
	float: right;
	font-size: $fnt-size-regular;	
	cursor: pointer;	
}

.fa-angle-left{
	float: left;
	font-size: $fnt-size-regular;	
	cursor: pointer;
}

