$fnt-size-regular: 16px;
$fnt-size-small: 12px;

$fnt-color-form: rgba(255,255,255,0.75);

$bcg-color-form-0:#5c8385;
$bcg-color-form-1: rgb(27, 155, 79);
$bcg-color-form-2:rgb(127, 127, 0);


$bcg-color-input: rgba(255, 255, 255 ,0.2);

$fnt-color-input: rgba(255,255,255,0.25);
$fnt-weight-light: 400;
$fnt-weight-regular: 700;
$fnt-weight-heavy: 900;

$fnt-fam: 'Merriweather', serif;


